/*
* M Y - F O L T *
*/

/* FONT */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100:300,400,700');

/* CSS Reset */
*,
*::before,
*::after { 
  margin: 0;
  padding: 0;
}

/* 
 * GLOBAL STYLES
*/
html {
  font-size: 10px;
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: radial-gradient( #e0f5e9, #e1f5e8);
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/*
 * GAME TITLE -- LOADING SCREEN --
*/
.game-loading-container { 
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
}

.game-loading-container > h1 {
  display: none;
  font-size: 4rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 4rem;
}


.game-loading-container__title:first-child { 
  padding-top: 50vh;
  margin-top: -10.4rem;
}

/*
 * LEVEL TITEL -- LOADING PAGE --
*/

.loading-cell { 
  display: inline-block;
  height: 4.5rem;
  width: 6.2rem;
  padding-top: 1.7rem;
}

.level-loading-container { 
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: #60c5d7;
}

.level-loading-container .level { 
  /* Positioning */
  margin-top: 30vh;
  margin-left: 10vw;
  width: 80vw;
  height: 28vh;
  padding-top: 14vh;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  
  /* Font Styles */
  font-size: 2rem;
  font-weight: 100;
  font-style: italic;
  color: #fff;
  text-transform: uppercase;
 }

.levelTarget {
  /* Positioning */
  display: inline-block;
  margin-top: 2rem;
  border-top: 1px solid #313644;
  
  /* Font Styles */
  font-size: 1.4rem;
  text-transform: none;
}

.levelTarget p:first-child { margin-top: 2rem; }

.levelTarget p {     
  color: #313644;
  font-weight: 400;
}


/*
 * GAME SCREEN
*/
.game-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
}

.game-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
 }

/* Header */
.game-header {
  position: relative;
  width: 100vw;
  height: 10vh;
  background-color: #141413;
}

/* Arrow */
.arrow-up {
  position: absolute;
  bottom: 0;
  left: 5.9375%;
  width: 0; 
  height: 0; 
  border-left: 0.625rem solid transparent;
  border-right: 0.625rem solid transparent;
  border-bottom: 0.625rem solid #e7e7e7;
}

/* Next colors */
.next-colors { 
  position: absolute;
  top: 25%;
  left: 4.0625%;
  width: 27.495%;
}

.color-list {
  list-style: none;
  width: 100%;
  height: 100%;
}

.preview-cell {
  float: left;
  margin-right: 3.7907595779%;
  height: 4.489436619vh;
  width: 4.489436619vh;
}

/* Level achivement and target */
.level-goal { 
  color: #fff;
  font-size: 1.2rem;
  font-style: italic;
  position: absolute;
  left: 31vw;
  top: 33.0078125%;
 }

.thin-line { 
  font-size: 0.5rem;
  vertical-align: 16%;
  margin-left: 1rem;
  margin-right: 0.8rem;
}

/* Menu */
.back-to-menu { 
  position: absolute;
  width: 4.92957746479vh;
  height: 4.92957746479vh;
  top: 25%;
  right: 4.6875vw;
  background-color: #232322;
}

.back-to-menu a:link,
.back-to-menu a:visited,
.back-to-menu a:hover,
.back-to-menu a:active {
  width: 4.92957746479vh;
  height: 4.92957746479vh;
  display: block;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3.6rem;
  color: #fff;
  text-decoration: none;
}

/*
* GAME BOARD
*/

/* BOARD */
.game-board-container {
  position: fixed;
  padding-top: 6.161971831vh;
  background-color: #e7e5e7;
}

.board {
  position: fixed;
  width: 96.875vw;
  height: 76.41vh;
  background-color: #fff;
}

.cell {
  float: left;
  height: 19.375vw;
  width: 19.375vw;
  position: relative;
}

.current {
  height: 12.5%;
  width: 12.5%;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  top: 42%;
  left: 42%;
}

.won,
.lost {
  font-size: 2rem;
  line-height: 6.6rem; 
  color: #fff;
}

.blue { background-color: #60c5d7; }
.grey { background-color: #313644; }
.red { background-color: #f70030; }
.light-green { background-color: #416563; }

/*
 * GAME INFORMATION BUBBLE
 */
.info {
  display:none; 
  position: absolute;
  bottom: 80%;
  padding: 1rem;
  z-index: 999;
      height: auto;
  
  font-size: 1.6rem;
  font-weight: 100;
  background-color: #000;
  color: #fff;
}

/* Increase font size for retina dispalay */
@media screen and (min-resolution: 2dppx) { 
  /* Get this font size just for retina displays */
  @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
  font-weight: 300; 
}

/* position the bubble horizontally on the left or right of the cell */
.info.left { left: 68%; }
.info.right { right: 68%; }

/* Arrow displayed at the bottom left corner of the bubble */
.info.left::before { 
  content: "";
  position: absolute;
  bottom: -2rem;
  right: 9rem;
  border-width: 0 0 2rem 4rem;
  border-style: solid;
  border-color: transparent #000;
  display: block;
  width: 0;
  z-index: 999;
}

.info.left::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  right: 12rem;
  border-width: 0 0 2rem 1rem;
  border-style: solid;
  border-color: transparent #60c5d7;
  display: block;
  width: 0;
  z-index: 999;
}

/* Arrow displayed at the bottom right corner of the bubble */
.info.right::before { 
  content: "";
  position: absolute;
  bottom: -2rem;
  right: 0rem;
  border: 0;
  border-right-width: 3rem;
  border-bottom-width: 2rem;
  border-style: solid;
  border-color: transparent #000;
  display: block;
  width: 0;
  z-index: 999;
}

.info.right::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 0rem;
  border: 0;
  border-right-width: 1rem;
  border-bottom-width: 2rem;
  border-style: solid;
  border-color: transparent #60c5d7;
  display: block;
  width: 0;
  z-index: 999;
}

/* Size of the first info bubble */
.info.first-info { 
  width: 10.8rem;
}

/* Size of the second info bubble */
.info.second-info { 
  width: 12rem;
}

/* Size of the third info bubble */
.info.third-info { 
  width: 12rem;
  top: -34%;
}

.info.left.third-info::before { right: 10rem; }
.info.left.third-info::after {right: 13rem; }

/* Size of the forth info bubble */
.info.fourth-info { 
  width: 12rem;
  height: 3rem;
  top: -15%;
}

.info.left.fourth-info::before { 
  content: "";
  position: absolute;
  top: -2rem;
  left: 0rem;
  border: 0;
  border-left-width: 3rem;
  border-top-width: 2rem;
  border-style: solid;
  border-color: transparent #000;
  display: block;
  width: 0;
  height: 0;
 }
.info.left.fourth-info::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0rem;
  border: 0;
  border-left-width: 1rem;
  border-top-width: 2rem;
  border-style: solid;
  border-color: transparent #e7e7e7;
  display: block;
  width: 0;
  height: 0;
 }

/* Size of the fifth info bubble */
.info.fifth-info { 
  width: 12rem;
}

/* Used to display the arrow in the info bubble with the right color */
.info.blue::after { border-color: transparent #60c5d7; }
.info.red::after { border-color: transparent #f70030; }
.info.grey::after { border-color: transparent #313644; }

/* Hide the audio tag */
audio { display: none; }